__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

Maximus_config.json
config.json
maximus-db.json
maximus-db.json.broken
maximus.log*
sessions/
/loaded_modules/
!/loaded_modules/.gitkeep
/modules/
!/modules/.gitkeep
/tmp/